* {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Jost", sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--turquesa);
}

a {
    color: var(--turquesa);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login, .register {
    background-image: url('../img/background1.png'); /* Caminho relativo */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}  
.title {
    color: var(--turquesa);
    font-weight: bold;
}